@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
footer {
  border-top: solid thick black; }

body main .inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body main .inicio {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.inicio-productos .filtros-products {
  box-shadow: -6px 6px 17px #c2b8b8, 6px -6px 17px #ecdfdf; }

footer {
  border-top: solid thick black; }

body main .inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body main .inicio {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.inicio-productos .filtros-products {
  box-shadow: -6px 6px 17px #c2b8b8, 6px -6px 17px #ecdfdf; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }
  body header {
    background-color: #212529; }
  body main .inicio {
    font-family: 'Bebas Neue', cursive;
    height: 40rem;
    width: 100%;
    background-image: url(/images/foto-3.webp); }
    body main .inicio span {
      color: #ff2600; }
    body main .inicio h1 {
      font-size: 4.5em;
      color: aliceblue; }
    body main .inicio h2 {
      font-size: 4em;
      color: aliceblue; }
  body main .container-destacados h2 {
    display: flex;
    justify-content: center; }
  body main .container-destacados .destacados {
    width: 9rem; }
    body main .container-destacados .destacados .ropa {
      width: 8.875rem;
      height: 8.5rem; }
  body main .carousel-second {
    margin-bottom: 2rem; }
  body main .grid-fixed {
    position: fixed;
    right: .2rem;
    bottom: 3rem; }
    body main .grid-fixed img {
      width: 2.5rem; }
  body main .portada {
    width: 38.75rem;
    height: 37.5rem; }

.disclaimer {
  display: none !important; }

footer {
  border-top: solid thick black; }

body main .inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body main .inicio {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.inicio-productos .filtros-products {
  box-shadow: -6px 6px 17px #c2b8b8, 6px -6px 17px #ecdfdf; }

footer {
  font-family: 'Catamaran', sans-serif;
  background-color: #23F577; }
  footer .footer-container-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.9em; }
    footer .footer-container-icons .footer-container-info {
      margin: 1.5rem;
      border-right: 0.2rem solid black; }
      footer .footer-container-icons .footer-container-info p {
        text-align: start; }
    footer .footer-container-icons .footer-container {
      margin: 1.5rem;
      text-align: center; }
    footer .footer-container-icons .container-icons {
      display: flex;
      justify-content: center; }
      footer .footer-container-icons .container-icons .icons {
        width: 2rem; }
  footer .footer-container-text {
    margin: 1.5rem;
    align-items: flex-start; }
  footer .text-info {
    color: black !important;
    text-align: center; }

.inicio-productos {
  display: flex; }
  .inicio-productos .accordion-products {
    margin: 1rem; }
  .inicio-productos .filtros-products {
    border-radius: 10px;
    height: fit-content; }
  .inicio-productos h1 {
    border-bottom: solid 2px #198754;
    width: 80%; }
  .inicio-productos h2 {
    display: flex;
    justify-content: center; }
  .inicio-productos .products-img {
    width: 80%; }
  .inicio-productos .conteiner-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .inicio-productos .buy button {
    width: 1.5rem; }

.nosotros h1 {
  border-bottom: solid 2px #198754;
  width: 80%; }

.nosotros .conteiner-nosotros .nosotros-info {
  display: flex;
  justify-content: center;
  width: 100%; }

.nosotros .conteiner-nosotros .text {
  margin: .2rem; }
  .nosotros .conteiner-nosotros .text span {
    font-family: 'Bebas Neue', cursive;
    color: #198754;
    font-size: large; }

.nosotros .conteiner-nosotros .logo {
  width: 10%;
  margin: .2rem; }

.container-contacto h1 {
  margin-left: 3rem;
  border-bottom: solid 2px #198754;
  width: 80%; }

.container-contacto .icons-2 {
  width: 2.5rem;
  height: 2.5rem; }

.container-contacto .contact {
  display: flex;
  justify-content: flex start;
  margin-left: 3.2rem; }

.container-contacto .container-form {
  display: block; }

.container-contacto .form {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 1rem; }
  .container-contacto .form .etiquetas-form {
    display: block;
    float: center; }
  .container-contacto .form input {
    width: 70%;
    font-size: revert !important; }
  .container-contacto .form .submit {
    margin-top: .3rem;
    cursor: pointer;
    width: 70%;
    font-size: revert !important; }

.container-contacto iframe {
  width: 100%; }

@media (max-width: 900px) {
  .menu {
    display: block; }
  .icons {
    width: 2rem; }
  p {
    font-size: 1rem; }
  .grid-fixed {
    position: fixed;
    right: 1.7rem;
    bottom: 3.6rem; }
    .grid-fixed img {
      width: 2.5rem; }
  footer {
    font-size: 1.2rem; }
    footer .footer-container-icons {
      display: flex;
      flex-direction: column-reverse; }
      footer .footer-container-icons .footer-container-info {
        border: none;
        border-top: solid thick black; }
      footer .footer-container-icons .footer-container-info {
        border-bottom: solid thick black; }
        footer .footer-container-icons .footer-container-info .text-info-title {
          text-align: center; }
  .col {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap; }
  .uno {
    display: block;
    padding-left: 1.87rem !important; }
  .container-contact {
    margin-left: 0rem !important; }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem !important; }
  form input {
    width: 15rem !important; }
  form .submit {
    width: 15rem !important; }
  .submit {
    width: 15rem !important; }
  .inicio-productos {
    display: flex;
    flex-direction: column; } }
