@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }
  body main .carousel-2 {
    margin-bottom: 2rem; }
  body main .grid-fixed {
    position: fixed;
    right: .2rem;
    bottom: 3rem; }
    body main .grid-fixed img {
      width: 2.5rem; }
  body main .portada {
    width: 38.75rem;
    height: 37.5rem; }
  body main h2 {
    display: flex;
    justify-content: center; }

footer {
  border-top: solid thick black; }

footer {
  font-family: 'Catamaran', sans-serif;
  background-color: #23F577; }
  footer .icons {
    width: 2rem; }
  footer p {
    font-size: 1rem; }
  footer .footer-container-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.8em; }
  footer .footer-container-info {
    margin: 1.5rem;
    border-right: solid thick black; }
    footer .footer-container-info p {
      text-align: start; }
  footer .footer-container {
    margin: 1.5rem;
    text-align: center; }
  footer .container-icons {
    display: flex;
    justify-content: center; }
  footer .footer-container-text {
    margin: 1.5rem;
    align-items: flex-start;
    border-bottom: solid thick black; }
  footer .text-info {
    color: #080707 !important;
    text-align: center; }
  footer .disclaimer {
    display: none !important; }

.products-img {
  width: 80%; }

.coins {
  width: 32px; }

.container-numbers {
  width: 2rem; }

.numbers {
  width: 1rem; }

.conteiner-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

.btn-group-sm > .btn, .btn-sm {
  --bs-btn-padding-y: 0.2rem;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem; }

.conteiner-nosotros .nosotros-info {
  display: flex;
  justify-content: center;
  width: 100%; }

.conteiner-nosotros .text {
  margin: .2rem; }

.conteiner-nosotros .logo {
  width: 2.5rem;
  height: 5rem;
  margin: .2rem; }

.conteiner-contacto .icons-2 {
  width: 2.5rem;
  height: 2.5rem; }

.conteiner-contacto .contact {
  display: flex;
  justify-content: flex start;
  padding-left: 1.5rem; }

.conteiner-contacto .container-form {
  display: block; }

.conteiner-contacto .form {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 1rem; }
  .conteiner-contacto .form .etiquetas-form {
    display: block;
    float: center; }
  .conteiner-contacto .form input {
    width: 22.3rem; }
  .conteiner-contacto .form .submit {
    margin-top: .3rem; }

.conteiner-contacto iframe {
  width: 100%; }

@media (max-width: 900px) {
  .menu {
    display: block; }
  .icons {
    width: 2rem; }
  p {
    font-size: .8rem; }
  .grid-fixed {
    position: fixed;
    right: 1.7rem;
    bottom: 3.6rem; }
    .grid-fixed img {
      width: 2.5rem; }
  .footer-container-icons {
    display: flex;
    flex-direction: column-reverse; }
    .footer-container-icons .footer-container-info {
      border: none;
      border-top: solid thick black; }
    .footer-container-icons .footer-container-info {
      border-bottom: solid thick black; }
      .footer-container-icons .footer-container-info .text-info-title {
        text-align: center; }
  .col {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap; }
  .form {
    justify-items: start; } }
