@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
$color-footer: black;
$h2-alineacion: display flex justify-content center;
$icons-medida: 2rem;
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$border: solid thick black;

/* nesting */

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* main */
main{
    .grid-fixed{
        position: fixed;
        right: .2rem;
        bottom: 3rem;
        img{
            width: 2.5rem;
        }
    }
    .portada{
        width: 38.75rem;
        height: 37.5rem;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
}
/* Footer */
footer{
    font-family: 'Catamaran', sans-serif;
    border-top: $border;
    .icons{
        width: $icons-medida;
    }
    p{
        font-size: 1rem;
    }
    .footer-container-icons{
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'Catamaran', sans-serif;
        font-size: 0.9em;
    }
    .footer-container-info{
        margin: 1.5rem;
        p{
            text-align: start;
        }
        border-right: $border;
    }
    .footer-container{
        margin: 1.5rem;
        text-align: center;
    }
    .footer-container-text{
        margin: 1.5rem;
        align-items: flex-start;
        width: 90%;
        border-bottom: $border;
    }
    .text-info{
        color: rgb(8, 7, 7);
        text-align: center;
    }
}

/* producto */

.products-img{
    width: 80%;
}
.coins {
    width: 32px;
}
.container-numbers{
    width: 2rem;
}
.numbers{
    width: 1rem;
}


.btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}
/* nosotros */
.conteiner-nosotros{
    .nosotros-info{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .text{
        margin: .2rem;
    }
    .logo{
        width: 2.5rem;
        height: 5rem;
        margin: .2rem;
    }
}

/* contacto */
.conteiner-contacto {
    .icons-2{
        width: 2.5rem;
        height: 2.5rem;
    }
    .contact{
        display: flex;
        justify-content: flex-start;
    }
    .container-form{
        display: block;
    }
    .form{
        width: 100%;
        display: grid;
        justify-content: center;
        margin: 1.5rem;
        .etiquetas-form{
            display: block;
            float: center;}   
    }
    iframe{
        width: 100%;
    }
}

@media (max-width: 900px){
    .menu{
        display: block;
    }
    .icons{
        width: 2rem ;
    }
    p{
        font-size: .8rem;
    }
    .grid-fixed{
        position: fixed;
        right: 1.7rem;
        bottom: 3.6rem;
        img{
            width: 2.5rem;
        }
    }
    .footer-container-icons{
        display: flex;
        flex-direction: column-reverse;
        .footer-container-info{
            border: none;
            border-top: $border;
        }
        .footer-container-info{
            border-bottom: $border;
            .text-info-title{
                text-align: center;
            }
        }
    }
    .col {
        flex: 1 0 0%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    

}