%bordes {
    border-top: solid thick black;
}
%flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
%background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
%sombra{
    box-shadow: -6px 6px 17px #c2b8b8, 6px -6px 17px #ecdfdf;
}
%margin{
    margin-top: 2rem;
}