@mixin varios ($display, $content){
    display: $display;
    justify-content: $content;
}
@mixin icons ($widht, $height){
    width: $widht;
    height: $height;
}
@mixin btn ($widht){
    width: $widht;
}