@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import '../base/variables';
@import '../base/extends';
@import '../base/mixins';
footer{
    font-family: 'Catamaran', sans-serif;
    background-color: #23F577;
    @extend %bordes;
    .icons{
        width: $icons-medida;
    }
    p{
        font-size: 1rem;
    }
    .footer-container-icons{
        width: 100%;
        @include varios(flex, center);
        font-family: 'Catamaran', sans-serif;
        font-size: 0.8em;
    }
    .footer-container-info{
        margin: 1.5rem;
        p{
            text-align: start;
        }
        border-right: $border;
    }
    .footer-container{
        margin: 1.5rem;
        text-align: center;
    }
    .container-icons{
        @include varios(flex, center);
    }
    .footer-container-text{
        margin: 1.5rem;
        align-items: flex-start;
        border-bottom: $border;
    }
    .text-info{
        color: rgb(8, 7, 7) !important;
        text-align: center;
    }
    .disclaimer{
        display: none !important;
    }
}