@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import '../base/variables';
@import '../base/extends';
@import '../base/mixins';

footer{
    font-family: 'Catamaran', sans-serif;
    background-color: #23F577;
    @extend %bordes;
    .footer-container-icons{
        width: 100%;
        @include varios(flex, center);
        font-family: 'Catamaran', sans-serif;
        font-size: 0.9em;
        .footer-container-info{
            margin: 1.5rem;
            p{
                text-align: start;
            }
            border-right: .2rem solid $color-footer;
        }
        .footer-container{
            margin: 1.5rem;
            text-align: center;
        }
        .container-icons{
            @include varios(flex, center);
            .icons{
                width: $icons-medida;
            }
        }      
    }   
    .footer-container-text{
        margin: 1.5rem;
        align-items: flex-start;
    }
    .text-info{
        color: $color-footer !important;
        text-align: center;
    }
}