@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '../base/mixins';
@import '../base/extends';
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    header{
        background-color: #212529;
    }
    header{
        img{
            width: 2rem !important;
            display: none;
        }
    }
    main{
       
        .inicio{
            font-family: 'Bebas Neue', cursive;
            span{
                color: rgb(255, 38, 0);
            }
            h1{
                font-size: 4.5em;
                color: aliceblue;
            }
            h2{
                font-size: 4em;
                color: aliceblue;
            }
            @extend %flex;
            height: 40rem;
            width: 100%;
            background-image: url(../images/foto-3.webp);
            @extend %background;
        }
        .container-destacados{
            h2{
                @include varios(flex, center);
            }
            .destacados{
                width: 9rem;
                .ropa{
                    width: 8.875rem;
                    height: 8.5rem;
                }
            }
        }
        .carousel-portada{
            h2{
                @include varios(flex, center);
            }
            .portada{
                width: 38.75rem;
                height: 37.5rem;
            }
        }      
        .grid-fixed{
            position: fixed;
            right: .2rem;
            bottom: 3rem;
            img{
                width: 2.5rem;
            }
        }
    }
}
.disclaimer{
    display: none !important;
}
