@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import 'base/variables';
@import '../base/extends';
@import '../base/mixins';
@media (max-width: 900px){
    .menu{
        display: block;
    }
    .icons{
        width: 2rem ;
    }
    p{
        font-size: 1rem;
    }
    .grid-fixed{
        position: fixed;
        right: 1.7rem;
        bottom: 3.6rem;
        img{
            width: 2.5rem;
        }
    }
    footer{
        font-size: 1.2rem;
        .footer-container-icons{
            display: flex;
            flex-direction: column-reverse;
            .footer-container-info{
                border: none;
                border-top: solid thick $color-footer;
            }
            .footer-container-info{
                border-bottom: solid thick $color-footer;
                .text-info-title{
                    text-align: center;
                }
            }
        }
    }
    .col{
        flex: 1 0 0%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .container-contact{
        margin-left: 0rem !important;    
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0rem !important;
    }
    form{
        input{
            @include btn(15rem !important);
        }
        .submit{
            @include btn(15rem !important);
        }
    }
    .submit{
        @include btn(15rem !important);
    }
    .inicio-productos{
        display: flex;
        flex-direction: column;
    }
}