@import '../base/mixins';

.nosotros{
    h1{
        border-bottom: solid 2px $verde;
        width: 80%;
    }
    .container-nosotros{
        .nosotros-info{
            @include varios(flex, center);
            width: 100%;
        }
        .logo{
            width: 10%;
            margin: .2rem;
        }
        .text{
            margin: .2rem;
            span{
                font-family: 'Bebas Neue', cursive;
                color: $verde;
                font-size: large;
            }
        }
    }
}
