@import '../base/extends';
@import '../base/mixins';
.inicio-productos{
    display: flex;
    .accordion-products{
        margin: 1rem;
    }
    .filtros-products{
        border-radius: 10px;
        @extend %sombra;
        height: fit-content;    
    }
    h1{
        border-bottom: solid 2px $verde;
        width: 80%;
    }
    h2{
        @include varios(flex, center);
    }
    .products-img{
        width: 80%;
    }    
    .conteiner-card{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .buy{
        button{
            width: 1.5rem;
        }
    }
}
